{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
<!-- Brand Logo -->
<a href="{% url 'dashboard' %}" class="brand-link">
  <img src="https://cdn.tredes.com.ng/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
       style="opacity: .8">
  <span class="brand-text font-weight-light">TREDES FLEETS</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <!--<img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">-->
      <img src="{{ request.user.profile.get_image }}" width="160px" height="160px" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="#" class="d-block">{{ request.user.profile.get_name }}</a>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      <li class="nav-item has-treeview menu-open">
        <a href="#" class="nav-link active">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Dashboard
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>User Dashboard</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="{% url 'trips-url:trip-list' %}" class="nav-link">
          <i class="nav-icon fas fa-retweet"></i>
          <p>
            Trips
            <span class="right badge badge-danger">New</span>
          </p>
        </a>
      </li>
      <li class="nav-header">Utilities</li>
      <li class="nav-item">
        <a href="pages/calendar.html" class="nav-link">
          <i class="nav-icon far fa-calendar-alt"></i>
          <p>
            My Event Calendar
            <span class="badge badge-info right">0</span>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="pages/gallery.html" class="nav-link">
          <i class="nav-icon fas fa-car"></i>
          <p>
            Book A Ride
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="pages/gallery.html" class="nav-link">
          <i class="nav-icon fas fa-car-alt"></i>
          <p>
            Vehicle Rentals
          </p>
        </a>
      </li>
      <li class="nav-header">Profile</li>
      <li class="nav-item">
        <a href="{{ request.user.profile.get_absolute_url }}" class="nav-link">
          <i class="nav-icon fas fa-user-circle"></i>
          <p>My Profile</p>
        </a>
      </li>
      <li class="nav-header">System</li>
      <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cogs"></i>
            <p>Sign Out</p>
        </a>
      </li>
      <li class="nav-header">Aliases</li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon far fa-circle text-danger"></i>
          <p class="text">TREDES MONEY</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon far fa-circle text-warning"></i>
          <p>TREDES HOMES</p>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>