{% extends 'base.html' %}
{% load static %}

{% block title %} {{ object }} {% endblock title %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>
                <i class="fas fa-car-alt"></i> {{ object }} <i class="fas fa-arrow-right"></i>
                <i class="fas fa-house-damage"></i> {{ object.to_locale }}
            </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">{{ object }} <i class="fas fa-arrow-right"></i> {{ object.to_locale }}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Book Trip From <i class="fas fa-car-alt"></i> {{ object }} <i class="fas fa-arrow-right"></i>
                <i class="fas fa-house-damage"></i> {{ object.to_locale }}</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Total Seats On {{ object.bus.name }}</span>
                      <span class="info-box-number text-center text-muted mb-0">{{ object.bus.seater }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Booked Seats On {{ object.bus.name }}</span>
                      <span class="info-box-number text-center text-muted mb-0">{{ booked_seats }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Available Seats </span>
                      <span class="info-box-number text-center text-muted mb-0">{{ object.available_seats }} <span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Book A Seat For This Trip</h4>
                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="{{ request.user.profile.get_image }}" alt="user image">
                        <span class="username">
                          <a href="#">{{ request.user.profile.get_name }}</a>
                        </span>
                      </div>
                      <!-- /.user-block -->
                      <div class="col-6 input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-chair"></i></span>
                          </div>
                          <input class="form-control" id="seatQuantity" type="number" value="1" min="1" max="{{ object.available_seats }}" step="1">
                      </div>
                      <div class="col-6 input-group mb-3">
                          <img class="img-responsive" width="300px" height="200px" src="{{ object.bus.image.url }}">
                      </div>
                      <p class="col-6">
                          {% if object.available_seats == 0 or object.trip_time <= currentDateTime %}
                            <button type="Submit" id="bookSeatDisabled" class="btn btn-block btn-outline-primary btn-sm disabled">Cannot Book</button>
                          {% else %}
                            <button type="Submit" id="bookSeat" class="btn btn-block btn-outline-primary btn-sm">Book</button>
                          {% endif %}
                      </p>


                    </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary"><i class="fas fa-building"></i> {{ object.bus.company_alias.name }}</h3>
              <p class="text-muted">
                  {{ object.bus.company_alias.description }}
              </p>
              <div>
                  <img class="img-responsive" width="400px" height="200px" src="{{ object.bus.company_alias.image.url }}">
              </div>
              <br>
              <div class="text-muted">
                <p class="text-sm">Alias Company
                  <b class="d-block">{{ object.bus.company_alias.name }}</b>
                </p>
                <p class="text-sm">Contact Support
                  <b class="d-block"><i class="fas fa-envelope-open"></i> support@tredes.com.ng</b>
                </p>
              </div>

              <h5 class="mt-5 text-muted">Having Issues ?</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i> Contact {{ object.bus.company_aias.name }}</a>
                </li>
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Book From {{ object.bus.company_alias.name }}</a>
                </li>
              </ul>
              <div class="text-center mt-5 mb-3">
                <a href="#" class="btn btn-sm btn-warning">File A Report</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
    <script src="https://cdn.tredes.com.ng/plugins/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="https://cdn.tredes.com.ng/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="https://cdn.tredes.com.ng/plugins/toastr/toastr.min.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdn.tredes.com.ng/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="https://cdn.tredes.com.ng/dist/js/demo.js"></script>
    <script>
        $( function () {
            $(document).ready(function () {
                {% if messages %}
                    {% for message in messages %}
                        $(document).Toasts('create', {
                            class: {% if message.tags %}'bg-warning'{% endif %},
                            title: {% if message.tags %}'Booking Warning'{% endif %},
                            subtitle: 'Warning!',
                            body: {% if message.tags %}'{{ message }}'{% endif %}
                          });
                        setTimeout(function () {
                            window.location.replace("{% url 'trips-url:trip-list' %}");
                        }, 4000);
                    {% endfor %}
                {% endif %}

                let bookingButton = $('#bookSeat');

                function displaySubmitting(submitBtn, defaultText, doSubmit) {
                    if (doSubmit) {
                        submitBtn.addClass("disabled");
                        submitBtn.html("<i class='fa fa-spin fa-spinner'></i> Processing");
                    } else {
                        submitBtn.removeClass("disabled");
                        submitBtn.add(defaultText);
                    }
                }

                function tokenGenarator(length) {
                    let result = '';
                    const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                    const charactersLength = characters.length;
                    for ( var i = 0; i < length; i++ ) {
                      result += characters.charAt(Math.floor(Math.random() * charactersLength));
                   }
                   return result;
                }

                bookingButton.click(function (event) {
                    event.preventDefault();

                    // Ajax token parser
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    var csrftoken = getCookie('csrftoken');

                    function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    }
                    $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    });

                    const bookingData = {
                        "key": '{{ object.ticket_key }}',
                        "seats": $('#seatQuantity').val(),
                        "token": tokenGenarator(7),
                    };

                    displaySubmitting(bookingButton, "", true);
                    $.ajax({
                        method: 'POST',
                        url: '{% url "bookings-url:data-processor" %}',
                        data: bookingData,
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',

                        success: function (data) {
                            console.log(data);
                            $(document).Toasts('create', {
                                class: 'bg-success',
                                body: 'Please Print Booking Data From Events as ticket',
                                title: 'Booking Successful!',
                                subtitle: 'Booking For Trip Successfully!',
                                image: '{{ request.user.profile.get_image }}',
                                imageAlt: 'User Image',
                            });
                            setTimeout(function(){
                                displaySubmitting(bookingButton, 'Book', false)
                            }, 500);
                            setTimeout(function () {
                                window.location.replace("{% url 'dashboard' %}");
                            }, 5000);
                        }, error: function (error) {
                            $(document).Toasts('create', {
                                class: 'bg-danger',
                                title: 'Oops! Booking Failed',
                                subtitle: 'Error In Booking!',
                                body: 'Error has occurred during your booking!'
                              });
                            displaySubmitting(bookingButton, 'Book', false)
                        }
                    })

                })
            })
        } (jQuery))
    </script>

{% endblock content %}