{% extends 'base.html' %}
{% load static %}

{% block title %} Trips {% endblock title %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Available Trips Today</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Trips</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <!-- Default box -->
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Trips</h3>

                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                              <i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                              <i class="fas fa-times"></i></button>
                          </div>
                        </div>
                        <div class="card-body p-0">
                          <table class="table table-striped projects">
                              <thead>
                                  <tr>
                                      <th style="width: 1%">
                                          #
                                      </th>
                                      <th style="width: 20%">
                                          From Locale
                                      </th>
                                      <th style="width: 20%">
                                          To Locale
                                      </th>
                                      <th>
                                          Bus Company
                                      </th>
                                      <th>
                                          Seats
                                      </th>
                                      <th style="width: 8%" class="text-center">
                                          Ticket Price
                                      </th>
                                      <th style="width: 12%">
                                      </th>
                                  </tr>
                              </thead>
                              <tbody>
                              {% for objects in object_list %}
                                  <tr>
                                      <td>
                                          #
                                      </td>
                                      <td>
                                          <a>
                                              <i class="fas fa-arrow-right"></i> {{ objects }}
                                          </a>
                                          <br/>
                                          <small>
                                              Trips Date &amp; Time: {{ objects.trip_time }}
                                          </small>
                                      </td>
                                      <td>
                                          <a>
                                              {{ objects.to_locale }}
                                          </a>
                                          <br/>
                                          <small>
                                              Trips Date &amp; Time: {{ objects.trip_time }}
                                          </small>
                                      </td>
                                      <td>
                                          <a>
                                              {{ objects.bus }}
                                          </a>
                                      </td>
                                      <td class="project_progress">
                                          <div class="progress progress-sm">
                                              <div class="progress-bar {% if objects.available_seats <= 5 %} bg-red {% else %} bg-green {% endif %}" role="progressbar"
                                                   aria-volumenow="{{ objects.available_seats }}" aria-volumemin="1" aria-volumemax="{{ objects.bus.seater }}" style="width: {{ objects.available_seats }}%">
                                              </div>
                                          </div>
                                          <small>
                                              {{ objects.available_seats }} Remaining
                                          </small>
                                      </td>
                                      <td class="project-state">
                                          <span class="badge badge-success"> N {{ objects.price }}.00</span>
                                      </td>
                                      <td class="project-actions text-right">
                                          <a class="btn btn-primary btn-sm {% if objects.available_seats == 0 or objects.trip_time <= currentDateTime %} disabled {% endif %} " href="{{ objects.get_absolute_url }}">
                                              <i class="fas fa-plus">
                                              </i>
                                              Book Now
                                          </a>
                                      </td>
                                  </tr>
                              {% empty %}
                                  <small> Oops! We are sorry no trips to day! </small>
                              {% endfor %}
                              </tbody>
                          </table>
                        </div>
                        <!-- /.card-body -->
                      </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-3">
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Filter By Date</h3>
                      </div>
                      <div class="card-body">
                        <!-- Date range -->
                        <div class="form-group">
                          <label>Date range:</label>

                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                              </span>
                            </div>
                            <input type="text" class="form-control float-right" id="reservation">
                          </div>
                          <!-- /.input group -->
                        </div>
                        <!-- /.form group -->

                        <!-- Date and time range -->
                        <div class="form-group">
                          <label>Date and time range:</label>

                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="far fa-clock"></i></span>
                            </div>
                            <input type="text" class="form-control float-right" id="reservationtime">
                          </div>
                          <!-- /.input group -->
                        </div>
                        <!-- /.form group -->

                        <!-- Date and time range -->
                        <div class="form-group">
                          <label>Date range button:</label>

                          <div class="input-group">
                            <button type="button" class="btn btn-default float-right" id="daterange-btn">
                              <i class="far fa-calendar-alt"></i> Date range picker
                              <i class="fas fa-caret-down"></i>
                            </button>
                          </div>
                        </div>
                        <!-- /.form group -->

                        <button type="Submit" id="applySearchFilter" class="btn btn-block btn-outline-primary btn-sm">
                            Apply This Filter
                        </button>

                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    <!-- jQuery -->
    <script src="https://cdn.tredes.com.ng/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="https://cdn.tredes.com.ng/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="https://cdn.tredes.com.ng/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="https://cdn.tredes.com.ng/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="https://cdn.tredes.com.ng/plugins/moment/moment.min.js"></script>
    <script src="https://cdn.tredes.com.ng/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- date-range-picker -->
    <script src="https://cdn.tredes.com.ng/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="https://cdn.tredes.com.ng/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="https://cdn.tredes.com.ng/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="https://cdn.tredes.com.ng/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdn.tredes.com.ng/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="https://cdn.tredes.com.ng/dist/js/demo.js"></script>

    <!-- Page script -->
    <script>
      $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
          theme: 'bootstrap4'
        })

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
        //Money Euro
        $('[data-mask]').inputmask()

        //Date range picker
        $('#reservation').daterangepicker()
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
          timePicker: true,
          timePickerIncrement: 30,
          locale: {
            format: 'MM/DD/YYYY hh:mm A'
          }
        })
        //Date range as a button
        $('#daterange-btn').daterangepicker(
          {
            ranges   : {
              'Today'       : [moment(), moment()],
              'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
              'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
              'Last 30 Days': [moment().subtract(29, 'days'), moment()],
              'This Month'  : [moment().startOf('month'), moment().endOf('month')],
              'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            startDate: moment().subtract(29, 'days'),
            endDate  : moment()
          },
          function (start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
          }
        )

        //Timepicker
        $('#timepicker').datetimepicker({
          format: 'LT'
        })

        //Bootstrap Duallistbox
        $('.duallistbox').bootstrapDualListbox()

        //Colorpicker
        $('.my-colorpicker1').colorpicker()
        //color picker with addon
        $('.my-colorpicker2').colorpicker()

        $('.my-colorpicker2').on('colorpickerChange', function(event) {
          $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
        });

        $("input[data-bootstrap-switch]").each(function(){
          $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });

        let applyFilterButton = $('#applySearchFilter');
        applyFilterButton.click(function (event) {
            event.preventDefault();

            var bookingData = {
                "date_range": $('#reservation').val(),
                "date_range_time": $('#reservationtime').val(),
                "date_range_time_button": $('#daterange-btn').val(),
            };

            console.log(bookingData)
        })

      })
    </script>

    </section>
    <!-- /.content -->

{% endblock content %}