{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tredes Fleets | Registration Page</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" type="text/css" href="https://cdn.tredes.com.ng/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="https://cdn.tredes.com.ng/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!-- jQuery Date Picker UI -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>TREDES</b> Fleets</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">TREDES FLEETS Passenger Service</p>

      <form class="registerForm" action="{% url 'api-auth:register-api' %}" method="POST"> {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="username" placeholder="Username" required="required">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="first_name" placeholder="First name" required="required">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="last_name" placeholder="Last name" required="required">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="phone" placeholder="Phone: +23480XXXXXXXX" required="required">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-phone"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" id="email" placeholder="Email" required="required">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" id="password" placeholder="Password" required="required">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Retype password" required="required">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
               I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" id="registerButton" class="btn btn-primary btn-block">Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <a href="{% url 'account-url:login' %}" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="https://cdn.tredes.com.ng/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap 4 -->
<script src="https://cdn.tredes.com.ng/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="https://cdn.tredes.com.ng/dist/js/adminlte.min.js"></script>

  <script>
    $( function() {
        'use strict';
        // $("#age").datepicker();

        $(document).ready(function () {
            // Initialize form data
            var registerForm = $(".registerForm");
            var registerFormMethod = registerForm.attr("method");
            var registerFormEnpoint = registerForm.attr("action");
            
            function displaySubmitting(submitBtn, defaultText, doSubmit) {
                if (doSubmit) {
                    submitBtn.addClass("disabled");
                    submitBtn.html("<i class='fa fa-spin fa-spinner'></i> Sending Data..");
                } else {
                    submitBtn.removeClass("disabled");
                    submitBtn.add(defaultText);
                }
            }

            function handleButton(submitBtn, doSubmit) {
                if (doSubmit){
                    submitBtn.addClass("disabled");
                } else {
                    submitBtn.removeClass("disabled");
                }
            }

            var registerFormSubmitBtn = registerForm.find("[type='submit']");
            var registerFormSubmitBtnText = registerFormSubmitBtn.text();

            // disable button on page-load
            handleButton(registerFormSubmitBtn, true);

            var checker = document.getElementById('agreeTerms');
            checker.onchange = function(){
                if (this.checked){
                    // perform our custom action here
                    handleButton(registerFormSubmitBtn, false); // activates button onCheck!
                    registerForm.submit(function (event) {
                        event.preventDefault();

                        // using jQuery
                        function getCookie(name) {
                            var cookieValue = null;
                            if (document.cookie && document.cookie !== '') {
                                var cookies = document.cookie.split(';');
                                for (var i = 0; i < cookies.length; i++) {
                                    var cookie = jQuery.trim(cookies[i]);
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                            return cookieValue;
                        }
                        var csrftoken = getCookie('csrftoken');

                        function csrfSafeMethod(method) {
                            // these HTTP methods do not require CSRF protection
                            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                        }
                        $.ajaxSetup({
                            beforeSend: function(xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                            }
                        });

                        // var registerFormData = registerForm.serialize(); // do not serialize the data, drf would do that
                        var registerFormData = {
                            "username": $('#username').val(),
                            "first_name": $('#first_name').val(),
                            "last_name": $('#last_name').val(),
                            "phone": $('#phone').val(),
                            "email": $('#email').val(),
                            "password": $('#password').val(),
                            "confirm_password": $('#confirm_password').val(),
                        };
                        var thisForm = $(this);

                        displaySubmitting(registerFormSubmitBtn, "", true);

                        $.ajax({
                        method: registerFormMethod,
                        url: registerFormEnpoint,
                        data: registerFormData,
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',

                        success: function (data) {
                            registerForm[0].reset();
                            console.log(data);
                            $.alert({
                                title: 'Success!',
                                content: 'Registration for '+data+' was successful',
                                theme: 'modern',
                            });
                            setTimeout(function(){
                                displaySubmitting(registerFormSubmitBtn, registerFormSubmitBtnText, false)
                            }, 5000)
                        }, error: function (error) {
                            console.log(error);
                        }
                    })

                    })
                } else {
                    handleButton(registerFormSubmitBtn, true);
                }
            }
        })
    } (jQuery));
  </script>

</body>
</html>
