<footer class="main-footer">
    <strong>Copyright &copy; 2019-2020 <a href="/">TREDES FLEETS</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.1.2-pre
    </div>
</footer>