{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>404 | Page Not Found</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="https://cdn.tredes.com.ng/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition lockscreen">
<!-- Automatic element centering -->
<div class="lockscreen-wrapper">
  <div class="lockscreen-logo">
    <a href="{% url 'dashboard' %}"><b>404</b> PAGE NOT FOUND</a>
  </div>
  <!-- User name -->
  <div class="lockscreen-name">{{ request.user.profile.get_name }}</div>

  <!-- /.lockscreen-item -->
  <div class="help-block text-center">
    Oops! We are sorry, the page you have requested, was not found on this server
  </div>
  <div class="text-center">
    <a href="{% url 'dashboard' %}">Return to dashboard</a>
  </div>
  <div class="lockscreen-footer text-center">
    Copyright &copy; 2019-2020 <b><a href="/" class="text-black">TREDES FLEETS</a></b><br>
    All rights reserved
  </div>
</div>
<!-- /.center -->

<!-- jQuery -->
<script src="https://cdn.tredes.com.ng/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="https://cdn.tredes.com.ng/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
