{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %} {% endblock title %} | TREDES FLEETS</title>
      <!-- Tell the browser to be responsive to screen width -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Font Awesome -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
      <!-- Ionicons -->
      <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <!-- Tempusdominus Bbootstrap 4 -->
      <link rel="stylesheet" type="text/css" href="https://cdn.tredes.com.ng/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
      <!-- iCheck -->
      <link rel="stylesheet" type="text/css" href="https://cdn.tredes.com.ng/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
      <!-- JQVMap -->
      <link rel="stylesheet" type="text/css" href="https://cdn.tredes.com.ng/plugins/jqvmap/jqvmap.min.css">
      <!-- Theme style -->
      <link rel="stylesheet" type="text/css" href="https://cdn.tredes.com.ng/dist/css/adminlte.min.css">

      <!-- overlayScrollbars -->
      <link rel="stylesheet" type="text/css" href="https://cdn.tredes.com.ng/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
      <!-- Daterange picker -->
      <link rel="stylesheet" type="text/css" href="https://cdn.tredes.com.ng/plugins/daterangepicker/daterangepicker.css">
      <!-- summernote -->
      <link rel="stylesheet" type="text/css" href="https://cdn.tredes.com.ng/plugins/summernote/summernote-bs4.css">
      <!-- Google Font: Source Sans Pro -->
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

      <!--jQuery alert confirm box-->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    </head>

    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">

            <!-- Navbar -->
            {% include 'navbar/nav.html' %}
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            {% include 'sidebar/sidebar.html' %}


            <!-- Content Wrapper. Contains page content -->
              <div class="content-wrapper">
                {% block content %}

                {% endblock content %}
              </div>
              <!-- /.content-wrapper -->


            <!-- /.content-wrapper -->
            {% include 'footer/footer.html' %}

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->

        </div>
        <!-- ./wrapper -->

        {% if request.path != '/trips/' %}
        <!-- jQuery -->
        <script src="https://cdn.tredes.com.ng/plugins/jquery/jquery.min.js"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="https://cdn.tredes.com.ng/plugins/jquery-ui/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
          $.widget.bridge('uibutton', $.ui.button)
        </script>
        <!-- Bootstrap 4 -->
        <script src="https://cdn.tredes.com.ng/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- ChartJS -->
        <script src="https://cdn.tredes.com.ng/plugins/chart.js/Chart.min.js"></script>
        <!-- Sparkline -->
        <script src="https://cdn.tredes.com.ng/plugins/sparklines/sparkline.js"></script>
        <!-- JQVMap -->
        <script src="https://cdn.tredes.com.ng/plugins/jqvmap/jquery.vmap.min.js"></script>
        <script src="https://cdn.tredes.com.ng/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="https://cdn.tredes.com.ng/plugins/jquery-knob/jquery.knob.min.js"></script>
        <!-- daterangepicker -->
        <script src="https://cdn.tredes.com.ng/plugins/moment/moment.min.js"></script>
        <script src="https://cdn.tredes.com.ng/plugins/daterangepicker/daterangepicker.js"></script>
        <!-- Tempusdominus Bootstrap 4 -->
        <script src="https://cdn.tredes.com.ng/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <!-- Summernote -->
        <script src="https://cdn.tredes.com.ng/plugins/summernote/summernote-bs4.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="https://cdn.tredes.com.ng/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <!-- AdminLTE App -->
        <script src="https://cdn.tredes.com.ng/dist/js/adminlte.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="https://cdn.tredes.com.ng/dist/js/pages/dashboard.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="https://cdn.tredes.com.ng/dist/js/demo.js"></script>
        {% endif %}
    </body>
</html>