{% load static %}

<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>TRDES FLEETS | Home :: TREDES</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="keywords" content="Coalition Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="https://fleets.tredes.com.ng/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://fleets.tredes.com.ng/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="https://fleets.tredes.com.ng/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link rel="stylesheet" href="https://fleets.tredes.com.ng/css/flexslider.css" type="text/css" media="screen" property="" />
<!-- font-awesome-icons -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="w3_agile_banner_top">
				<div class="agile_phone_mail">
					<ul>
						<li><i class="fas fa-phone" aria-hidden="true"></i>+(234) 909 017 6333, +(234) 909 017 6444</li>
						<li><i class="fas fa-envelope" aria-hidden="true"></i><a href="mailto:support@tredes.com.ng">TREDES Support</a></li>
					</ul>
				</div>
			</div>
			<div class="agileits_w3layouts_banner_nav">
				<nav class="navbar navbar-default">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a class="navbar-brand" href="/">TREDES FLEETS</a></h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
						<nav class="cl-effect-13" id="cl-effect-13">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="{% url 'account-url:login' %}">Get My Bus Ticket</a></li>
							<li><a href="#">Support</a></li>
						</ul>

					</nav>

					</div>
				</nav>
			</div>
			<div class="wthree_banner_info">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<h3>BUS TICKET BOOKING </h3>
								<p>TREDES FLEETS Ticketing System is the best and industry standard ticket system that is revolutionizing road transportation in Africa</p>
								<div class="agileits_more">
									<ul>
										<li><a href="http://app.tredes.com.ng/account/sign-in" class="w3ls_banner_more hvr-icon-hang">Need To Go Somewhere ?</a></li>
										<li><a href="#" class="hvr-icon-hang">Learn More</a></li>
									</ul>
								</div>
							</li>
							<li>
								<h3>RIDE SHARING SERVICE</h3>
								<p>TREDES FLEETS ride sharing service readily available on our mobile devices, helps change the online ride sharing service and become the pace setter others follow</p>
								<div class="agileits_more">
									<ul>
										<li><a href="#" class="w3ls_banner_more hvr-icon-hang">Available On Google Play</a></li>
										<li><a href="#" class="hvr-icon-hang">Learn More</a></li>
									</ul>
								</div>
							</li>
							<li>
								<h3>VEHICLE RENTALS</h3>
								<p>TREDES FLEETS Vehicle rental service system, allows you to rent a vehicle for your personal use within a particular time constraint, we love making your everyday activity easy</p>
								<div class="agileits_more">
									<ul>
										<li><a href="#" class="w3ls_banner_more hvr-icon-hang">Want To Give It A Try?</a></li>
										<li><a href="#" class="hvr-icon-hang">Learn More</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</section>
				<!-- flexSlider -->
					<script defer src="https://fleets.tredes.com.ng/js/jquery.flexslider.js"></script>
					<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
				<!-- //flexSlider -->
			</div>
		</div>
	</div>
<!-- for bootstrap working -->
	<script src="https://fleets.tredes.com.ng/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>